.vscode
*.exe
.clang-format
z_work_report.h
tree_dump.txt
~$state_table.xlsx
*.db
*.db.bak
_todo.txt
*.sql
tables.txt
z_output.txt

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/build